:root {
    --primary: var(--accent-colour);
    --secondary: var(--light-colour);
    --tertiary: var(--dark-colour);

    --light-colour: white;
    --accent-colour: #25c3a9;
    --dark-colour: #051b18;

    font-family: 'Poppins', sans-serif;
    font-size: 1em
}

* {
    
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--constant);
    font-size: 1.5rem;
    font-weight: 400;
}

body {
    background-color: var(--primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


h1, h2, h3 {
    font-weight: 800;
    color: var(--tertiary);
}

h1 {
    font-size: 4rem;
}

h3{
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h1 > a, h2 > a, h3 > a {
    font-size: inherit;
    font-weight: inherit;
}

header {
    background-color: var(--tertiary);
    color: var(--secondary);
    height: fit-content;
}

header * {
    color: var(--secondary);
}

nav {
    padding: 2vw 2vw 0vw 2vw;
    background-color: transparent;
    text-align: right;
}

nav * {
    padding: 1vw;
    background-color: transparent;
    vertical-align: middle;
    font-weight: 200;
    text-decoration: underline;
    outline: none;
    border: none;
}

article {
    padding: 10vw 10vw 5vw 10vw;
}

article > div {
    padding-bottom: 5vw;
}

footer {
    margin-top: auto;
    background-color: var(--tertiary);
    padding: 2vw;
}

footer * {
    color: var(--secondary);
    font-size: 1rem;
    text-align: center;
}

.pop {
    box-shadow: 0vh 0vw 100px -40px rgb(0, 0, 0);
}

#page_title {
    text-align: center;
    padding-top: 5vw;
}

.share {
    text-align: center;
    padding-bottom: 5vw;
}

.sharing-button_link{
    display: inline-block;
    text-decoration: none;
    margin-right: 1rem;
}

.sharing-button_icon {
    fill: var(--primary);
    stroke: none;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: top
}


@media screen and (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 1rem;
    }

    h5 {
        font-size: 1rem;
    }

    footer  * {
        font-size: 0.5rem;
    }
    

    * {
        font-size: 1rem;
        font-weight: 400;
    }

    .sharing-button_link{
        margin-right: 0.5rem;
    }

    .sharing-button_icon {
        width: 1rem;
        height: 1rem;
    }
}