form{
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    margin: 5vw;
    padding: 5vw;
}


form>*{
    display: block;
    margin: 1vw;
}

input, textarea{
    background-color: var(--primary);
    border: 1px solid black;
}


label { white-space: nowrap; }

#Submit{
    padding: 2vw;
    border: none;
    background-color: var(--tertiary);
    color: var(--secondary);
}