#filter, #questions {
    display: flex;
    flex-wrap: wrap;
}

#filter > *, #questions > * {
    min-width: 42%;
}

#filter > * > input, #questions > *{
    margin: auto 2vw;
}

#no-questions {
    display: none;
}

input, textarea{
    background-color: var(--primary);
    border: 1px solid black;
}

#Submit{
    padding: 2vw;
    border: none;
    background-color: var(--tertiary);
    color: var(--secondary);
}